body {
    margin: 0;
    padding: 0;
}

.all {
    list-style: none;
}

.ul3 > li {
    display: none;
}

.ul2 > li {
    display: none;
}

.ul4 > li {
    display: none;
}

.ul1 li:hover > .ul2 > li {
    display: block;
    margin-left: 20px;
    position: relative;
}

.ul2 li:hover > .ul3 > li {
    display: block;
    margin-left: 20px;
    position: relative;
}

.ul3 li:hover > .ul4 > li {
    display: block;
    margin-left: 20px;
    position: relative;
}

a {
    text-decoration: none;
}

li {
    margin-top: 10px;
}