body {
    margin: 0;
    padding: 0;
}

.all {
    list-style: none;
}

.all > li {
    display: none;
}

.all li:hover > .all1 > li {
    display: block;
    margin-left: 20px;
    position: relative;
}

a {
    text-decoration: none;
}

li {
    margin-top: 10px;
}